ENVIROMENT="development"
APP_DELAY_SECONDS="30"
CALLBACK_PORT=":5000"
GITHUB_API_TOKEN_USER ="TOKEN_SAMPLE"
SPOTIFY_CLIENT_ID="CLIENT_ID_SAMPLE"
SPOTIFY_CLIENT_SECRET="CLIENT_SECRET_SAMPLE"
SPOTIFY_REFRESH_TOKEN="REFRESH_TOKEN_SAMPLE"
